@charset 'utf-8';

.navbar{    /*  네비게이션 바 css*/
    font-size: 22px;
    height: 45px;
    text-align: center;
    padding: 0;
    font-weight: bold;
}
    #close-sidenav {
        cursor: pointer;
        font-size: 2em;
        margin-top: -15px;
        float: right;
      }
      #sidenav {
        height: 100%; width: 260px;
        top: 0; right: -260px;
        background: white;
        position: fixed;
        transition: 0.4s;
        z-index: 10;
      }
      #sidenav ul { 
          margin: 0; 
          padding: 0; 
          list-style-type: none; 
      }
      #sidenav a {
        color: black;
        display: block;
        text-decoration: none;
        padding: 10px;
        height: 50px;
      }
      #sidenav header { 
          background: rgb(31, 31, 31); 
          display: block;
          height: 128px;
          color: white;
          background-image: url(/web/web/portfolio/front-end/images/top_logo.png);
          background-repeat: no-repeat;
          background-position: center;
          /*background-size: 200px auto;*/
      }
      #sidenav a:hover { 
          background-color: wheat;
          color: violet;
          border-bottom: solid 1px #ccc;
          font-weight: bold;
      }
      #sidenav li{
          border-bottom: solid 1px #ccc;
          text-align: center;
          height: 50px;
      }
      .arrows{
        float: right;
        widows: 20px;
      }
/*햄버거 메뉴  css*/
#hamburgr-wrapper{
    color: #fff;
    padding: 0 10px;
    cursor: pointer;
    float: right;
    opacity: 1;
}